.cell {
    height: 40px;
    width: 40px;
    margin: .5px;
}

.not_revealed {
    display: flex;
    background-color: #33343b;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.revealed {
    display: flex;
    background-color: #464852;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}